<div class="comment clearfix">

  <div class="comment_content">
    <p class="comment_name"><strong> <%= comment.name %></strong></p>
    <p class="comment body"><%= comment.body%></p>
    <p class="comment_time"><%= time_ago_in_words(comment.created_at) %> ago</p>
  </div>
  <% if @post.user == current_user  %>
    <p>
      <%= link_to 'delete', [comment.post, comment], method: :delete,
      class: "button",
          data: {confirm: "Are you sure?"}%>
    </p>
  <% end %>
</div>
