
<div class="post_content">
  <h1 class="title">
    <%= @post.title %>
  </h1>

  <p class="date">
    Submitted <%= time_ago_in_words(@post.created_at) %>Ago
    <% if @post.user == current_user %>
      | <%= link_to "edit", edit_post_path(@post) %>
      | <%= link_to "delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}%>
    <% end %>
  </p>

  <p class="body">
    <%= @post.body %>
  </p>

  <div id="comments">
    <h2><%= @post.comments.count%> comments</h2>
    <%= render @post.comments%>
    <h3>Add comment</h3>
    <%= render 'comments/form' %>
  </div>
</div>

