<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
          <%= image_tag "mylogo.png"%>
        <% end %>

      </div>

      <ul>
        <li class="category">Web site</li>
        <li><%= link_to "Blog", root_path%></li>
      </ul>
      <ul>
        <li class="category">Social</li>
        <li><a href="http://www.realm00.com">realm</a></li>
        <li><a href="https://github.com/takukawasaki">github</a></li>
      </ul>


      <% if user_signed_in? %>
        <p class="sign_in">
          Admin login
        </p>
      <% else %>
        <ul>
          <li><%= link_to 'Sign up', new_user_registration_path%></li>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        </ul>
      <% end %>
    </div>

    <div id="main_content">
      <div id="header">
        <p>All post</p>

        <% if user_signed_in? %>
          <div class="buttons">
            <%= button_to "new post", new_post_path, :method => 'get' %>
            <%= button_to "log out", destroy_user_session_path, method: :delete %>
          </div>
        <% end %>

      </div>

      <% flash.each do |name, msg|  %>
        <%= content_tag(:div, msg, class: "alert")%>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
